
@import 'styles/flex';
@import 'styles/header.scss';

html,
body {
  margin:0;
  padding:0;
  height:100%;
  background-color: rgb(250,250,250);
  /*overflow-x: hidden;*/
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size:90%;
  overflow:hidden;
}

xen-root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100%;
}
