
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexFull {
  flex: 1 1 auto;
}

.flexRowRight {
  @extend .flexRow;
  justify-content: flex-end;
}
