<div class="flexCol flexGrow mat-app-background">
  <header class="flexRow">
    <div class="header-inner">
        <div class="company">
          <div class="pigatron">pigatron</div>
          <div class="industries">INDUSTRIES</div>
        </div>
    </div>
  </header>
  <div class="flexRow">
    <nav mat-tab-nav-bar class="flexGrow">
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </div>
  <div class="flexGrow">
    <router-outlet></router-outlet>
  </div>
</div>

