<div>
  <mat-toolbar>
    <button mat-mini-fab matTooltip="Back" color="primary" routerLink="new">
      <mat-icon aria-label="New">add_box</mat-icon>
    </button>
  </mat-toolbar>
  <table mat-table [dataSource]="scales">
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a mat-button [routerLink]="element.id"><mat-icon>edit</mat-icon></a>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>
